# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore



# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/wp-admin/
/wp-content/index.php
/wp-content/languages
/wp-content/plugins/index.php
/wp-content/themes/index.php
/wp-includes/
/index.php
/license.txt
/readme.html
/wp-*.php
!/wp-config-sample.php
/xmlrpc.php

# Configuration
wp-config.php
local-xdebuginfo.php
/node_modules
.DS_Store
.env
.env*
auth.json
/vendor
/bundle-analyzer
/.vscode/*

# WP Engine
/_wpeprivate
/.wpe-*
/.wpengine-conf


# WP-Content
/wp-content/cache/
/wp-content/mu-plugins/
/wp-content/plugins
/wp-content/upgrade/
/wp-content/upgrade-temp-backup/
/wp-content/uploads/
/wp-content/autoptimize_404_handler.php
/wp-content/themes/twenty*/
/wp-content/.htaccess
/wp-content/advanced-cache.php
/wp-content/autoptimize_404_handler.php
/wp-content/db.php



# Log files
*.log

# htaccess
/.htaccess
