@use "./leaflet-components/legend";

#map {
	font-family: var(--bs-font-body);
	font-size: 1.6rem;
	aspect-ratio: 4 / 3;
	// min-height: 60dvh;
}

.leaflet-control-layers-base,
.leaflet-control-layers-overlays {
	& > label > span {
		width: 100%;
		display: block;
		text-align: start;

		input {
			margin-right: 8px;
		}
	}
}
